<ion-content>
  <h1>Create Gig</h1>

  <ion-card>
    <form
    #form
    method="post"
    action="/"
    (ngSubmit)="submit()"
    (keyup.enter)="submit()">
      <ion-item>
        <ion-label position="floating">Gig Name*</ion-label>
        <ion-input name="name" required [(ngModel)]="gig.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Start Time*</ion-label>
        <ion-datetime required name="time" [(ngModel)]="gig.startTime" display-format="h:mm A"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date*</ion-label>
        <ion-datetime required name="date" [(ngModel)]="gig.startTime" display-format=""></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ticket Price $*</ion-label>
        <ion-input name="price" type="number" required [(ngModel)]="rawPrice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ticket URL</ion-label>
        <ion-input name="url" type="url" [(ngModel)]="gig.ticketUrl"></ion-input>
      </ion-item>
    </form>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label><ion-icon name="add-outline" class="add-band-icon"></ion-icon> Add Band</ion-label>

      <ion-select interface="popover" (ionChange)="addBand($event)">
        <ion-select-option [value]="-1">NEW BAND</ion-select-option>
        <ion-select-option *ngFor="let band of bands" [value]="band.id">{{ band.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let band of selectedBands">
      <ion-avatar slot="start">
        <img *ngIf="band.pfp" [src]="band.pfp">
      </ion-avatar>
      {{ band.name }}
      <ion-button slot="end" (click)="toggleHeadlining(band)" fill="clear">
        <ion-icon *ngIf="!band.headlining" name="star-outline" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="band.headlining" name="star" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <app-new-band *ngIf="showNewBand" (create)="createBand($event)"></app-new-band>

  <div class="bottom-padding"></div>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="!showNewBand">
    <ion-fab-button (click)="submit()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
