<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gig Scheduler
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gig Scheduler</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="center">
      <app-gig *ngFor="let gig of gigs" [gig]="gig"></app-gig>
    </div>
  </div>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="openGigCreator()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
